<div id="show-display" style="background-color: rgba(0,0,0,0.1);">
  <h3><%= @article.headline %></h3>
  <p><%= @article.url %></p>
  <p><%= @article.date %></p>
  <div id="handle-list-articles">back</div>
</div>
